/* STYLE DE LA PAGE UNE FOIS CONNECTE AVEC LES FILMS.... */

body{
  background-color: #000;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


  #netflixfooter{
	text-align: center;
}

  a {
    text-decoration: none;
    color: white;
  }

  /* Fin de la barre de navigation */
  

  /* Les films et séries */
  .films-et-series{
    background-color: #191a1a;
    padding: 25px;
    
  }
  .films-et-series .section{
    margin-bottom: 80px;
  }
  .films-et-series .section h2{
    color: #fff;
  }
  .films-et-series .section .list{
    display:flex;
    overflow-x: auto;
  } 
  .films-et-series .section a{
    padding-left: 5px;
    transition: transform 0.25s;
  }
  .films-et-series .section a:hover{
    transform:scale(1.05);
  }
  .films-et-series .section a img{
    height: 140px;
    margin-right: 10px;
  }

  .col:hover{
    width:400px;
    z-index:20;
    transition:all .45s;
  }
  /* Fin des films et séries */
  
  /* Pied de page */
  footer{
    background-color: #000;
    padding: 25px 100px;
    color: #909191;
  }
  footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* Fin du pied de page */