body{
    background-image: url("backgroundbody.jpg");
}

canvas { background: #eee; }


#canvasJeu { 
    background: #eee; 
    display: block; 
    margin: 2%;
}

 #jeudebrique{
    display: flex;
    flex-direction: column;
    align-items: center;
        }