.nav-link{
    color:white;
}

.top-xl{
    font-size: xx-large;
}

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}