{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Nos produits{% endblock %}


{% block content %}
    <div class="row mt-5">
        {# Filtre #}
        <div class="col-md-3">
            {{ form(form) }}
        </div>
        {# Affichage des produits #}
        <div class="col-md-9">
            <h1>Nos produits</h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    

{% endblock %}
