{% extends 'base.html.twig' %}

{% block title %}{{parent()}}S'inscrire{% endblock %}

{% block content %}

    <h1 class="mt-5">Inscription</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    
    <hr>
    {{form(form)}}

{% endblock %}
